### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignorar arquivos compilados do Java
*.class
# Ignorar pastas geradas por IDEs (VS Code, IntelliJ, Eclipse)
.vscode/
.idea/
*.iml
.metadata/
# Ignorar pastas de build e dependências locais
bin/
target/